@import '@fontsource/fira-mono';

/*	RUBIK  */
@font-face {
	font-family: 'rubik';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/rubik/rubik.ttf') format('truetype');
}
@font-face {
	font-family: 'rubik-italic';
	font-weight: 100 900;
	font-style: italic;
	src: url('/fonts/rubik/rubik-italic.ttf') format('truetype');
}

/*	DOSIS  */
@font-face {
	font-family: 'dosis';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/dosis/dosis.ttf') format('truetype');
}

:root {
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-primary: 'rubik', sans-serif;
	--font-secondary: 'dosis', sans-serif;
	--font-mono: 'mono', monospace;
	--warn: #F88;
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	transition: color 0.5s background 0.3s background-color 0.3s;
	min-height: 100vh;
	margin: 0;
	background-color: var(--light-a);
	background: linear-gradient(
		180deg,
		var(--light-c) -10%,
		var(--light-b) 10.45%,
		var(--light-a) 41.35%
	);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2 {
	color: var(--dark-a, --heading-color);
	
	font-family: var(--font-primary);
	letter-spacing: 1.2px;
	word-spacing: 8px;
	font-weight: 500;
}

p {
	line-height: 1.5;
	font-family: var(--font-primary);
	color: var(--dark-a, --text-color);
	font-weight: 200;
	font-size: 1.2em;
}

a {
	color: var(--brand-a);
	
	font-family: var(--font-secondary);
	text-decoration: none;
	font-weight: 300;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0 0 1em 0;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
